* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
  --Bright-Red: hsl(12, 88%, 59%);
  --Dark-Blue: hsl(228, 39%, 23%);

  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: #ffefeb;
  --Vary-Light-Gray: hsl(0, 0%, 98%);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



.hidewhenmobile {
  display: none;
}

/* @media (max-width:393px)  {
  .container {
    width: 350px;
  }
} */

/* header start  */

header.hidewhenmobile {
  display: none;

}

.showwhenmobile {
  display: block;
  /* margin-bottom: 150px; */
}

.showwhenmobile .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showwhenmobile .container .holdernav.close {
  display: none;
}

/* header end  */
.showwhenmobile .container .holdernav {
  position: absolute;
  left: 80%;
  transform: translateX(-50%);


  text-align: center;
  top: 40px;

  width: 120px;
}


.showwhenmobile .container .holdernav a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;

  color: var(--Dark-Blue);
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;



}

/* main start */

main .container {
  flex-direction: column;
  text-align: center;
}

main .container .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .container .left p {
  max-width: 80%;
}

main .container .left button {
  align-self: center;
}

/* main end */

/* section start */
section .container .left h2 {
  font-size: 20px;
}

section .container {
  flex-direction: column;
  text-align: center;
  align-items: center;

}

section .container .left {
  margin-bottom: 40px;
}

section .container .right .text h3 {
  margin-left: 35px;
  font-size: 14px;
}

.h3 {
  width: 100%;
  background-color: var(--Very-Pale-Red);
  padding: 0 25px;
  text-align: center;
  line-height: 35px;
  border-radius: 20px;
  position: relative;
}

section .container .left p {
  max-width: 80%;
  margin: auto;
}

section .container .right .text p {
  max-width: 80%;
  margin: auto;
}

section .container .right .text span {
  background-color: var(--Bright-Red);
  margin-right: 10px;

  min-width: 68.72px;
  padding: 2px 25px;
  border-radius: 20px;
  color: white;

  font-weight: normal;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);

}

/* section end */



/* section3 start */

.section_three .container {
  padding-left: 0;
  padding-right: 0;
}

.section_three .container .holder {
  /* flex-direction: column;
  text-align: center; */
  overflow-y: scroll;
}

.section_three .container .holder::-webkit-scrollbar {
  display: none;
}

.section_three .container .holder .areas {
  min-width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_three .container .holder {
  scroll-behavior: smooth;
}

.section_three .container .holder .areas p {
  max-width: 80%;
  margin-bottom: 25px;
}

.section_three .container .holder :last-child {
  margin-right: 0;
}

.section_three .container .points {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: white;
  margin-right: 30px;
  border: 3px solid black;
}

.section_three .container .points.active {
  background-color: black;
}

.section_three .container .pointsHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.section_three .container .pointsHolder .third {
  margin-right: 0;
}

/* section3 end */
/* section4 start */
.section_four .container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section_four .container h4 {
  width: 100%;
  margin-bottom: 40px;
}

/* section4 end */

/* footer start  */

footer.hidewhenmobile {
  display: none;
}

footer.showwhenmobile {
  display: block;
}




footer .container .third_row form {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

}

footer .container {
  display: flex;
  flex-direction: column;
}

footer .container .third_row form .email {
  padding: 10px 25px;
  border-radius: 22px;
  outline: none;
}

footer .container .third_row form .inputforerror.error p {
  display: block;

}

footer .container .third_row form .inputforerror.error input {
  border: 2px solid var(--Bright-Red);
  color: red;
  outline: none;
}

footer .container .third_row form .inputforerror p {
  color: var(--Bright-Red);
  margin-left: 10px;
  margin-top: 10px;
  display: none;

}
footer .container .third_row form input{
  border: none;
}
footer .container .third_row form .submit {
  padding: 10px 25px;
  border-radius: 22px;
  color: white;
  background-color: var(--Bright-Red);
  cursor: pointer;
  transition: 0.2s;
}

footer .container .third_row form input:last-of-type:hover {
  filter: brightness(160%);

}

footer .container .third_row {
  color: var(--Dark-Grayish-Blue);
}

.two_rows {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
  width: 100%;
}

.logo {
  text-align: center;

}

.logo img {
  margin-bottom: 30px;
}

.logo p {
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 30px;
}
footer .container .third_row form input{
  border: none;
}

/* footer end  */